<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive =  'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<li class="list-group-item d-flex align-items-center justify-content-between user_list_item <%= isActive %>">
  <div>
    <%= link_to image_tag(user.chat_pfp, class: 'chat_pfp'), user %>
    <%= turbo_stream_from "user_status" %>
    <div>
      <%= render 'users/status', user: user %>
    </div>
  </span>
</div>
<%= link_to user.email, user, class:'ms-2 me-auto username' %>
<div data-controller="rooms" data-action="click->rooms#call_user" class="btn btn-primary">Call</div>
</li>
